<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Maison Kayser{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/kayser.css') }}">
    {% endblock %}
    {# <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> #}
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}?v=2" />
    <link href="{{ asset('js/icheck/skins/flat/red.css') }}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>
  {% block topmenu %}
    {% include 'KayserPlatformBundle:Header:topmenu.html.twig' %}
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
  {% endblock %}

  {% block headerhero %}
    {% include 'KayserPlatformBundle:Header:headerhero.html.twig' %}
  {% endblock %}

  {% block menu %}
    {% include 'KayserPlatformBundle:Header:menu.html.twig' %}
  {% endblock %}

    
  {% block body %}
  {% endblock %}

  {% block footer %}
    {% include 'KayserPlatformBundle:Footer:footer.html.twig' %}
  {% endblock %}

    

    {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ asset('dist/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollTo.js') }}"></script>
        <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('ckeditor/config.js') }}"></script>
        <script src="{{ asset('ckeditor/styles.js') }}"></script>
        <script src="{{ asset('js/jquery.parallax-1.1.3.js') }}"></script>
        <script src="{{ asset('js/icheck/icheck.js') }}"></script>

        <!--<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-XXXXXXX-1', 'auto');
          ga('send', 'pageview');
        </script>-->
        <script>
          jQuery(function($){
            if($(document).width() < 991){
              var footerHeight = 50;
            }else{
              var footerHeight = 30;
            }

            // Footer
            $('.footer-sm-nav > li, .footer-nav > li > a').on('click', function(e){
              e.preventDefault();
              if($(document).width() < 991){
                var hauteur = $(document).height() + 179 + 100;
              }else{
                var hauteur = $(document).height() + 179 + 160;
              }
              $(window).delay(100).scrollTo( { top:hauteur, left:0}, 800 );
              $('div.footer-links').css({'height': "auto"});
              var newHeight = $('.footer').find('div.container').height();
              $('.footer').css({'height': newHeight + 20});
              $('#close-footer').css('margin-top', '-'+(newHeight)+'px');
              $('#close-footer').show();
            });
            $('#close-footer').on('click', function(e) {
              e.preventDefault();
              $(this).hide();
              $('div.footer-links').css({'height': 0});
              $('.footer').css({'height': footerHeight+'px'});
            });

            // Affix
            // $('#myAffix').affix({
            //   offset: {
            //     top: 100,
            //   }
            // });
            $("#myAffix").on('affixed.bs.affix', function(){
              $('.main-container').addClass('boom');
            });
            $("#myAffix").on('affixed-top.bs.affix', function(){
              $('.main-container').removeClass('boom');
            });

            // Footer FIX
            var hauteurmainct = $('.main-container').height();
            var hauteurfenetre = $(window).height();
            // var boom = hauteurfenetre - (hauteurmainct + 201) + 60;
            var boom = hauteurfenetre - (hauteurmainct + 137 + 60) + 30;
            // console.log(hauteurmainct +' - '+ hauteurfenetre + 'boom : ' + boom);
            if (boom > 60) {
              $('.main-container').css("margin-bottom", boom);
            }
            $(window).resize(function() {
              var hauteurmainct = $('.main-container').height();
              var hauteurfenetre = $(window).height();
              var boom = hauteurfenetre - (hauteurmainct + 137 + 60) + 30;
              if (boom > 60) {
                $('.main-container').css("margin-bottom", boom);
              }
            });

            // Menu mobile
            $('#link-for-sm-nav').on('click', function(e) {
              e.preventDefault();
              $('#nav-for-small').toggle();
            });

          //   $(window).scroll(function(){  
          //       if($(document).scrollTop() > 100)
          //       {    
          //           if(!$('.footer').hasClass("show")){
          //           $('.footer').css({'height': footerHeight+'px'});
          //             $('.footer').addClass("show");
          //           }
          //       }
          //       else
          //       {
          //           if($('.footer').hasClass("show"))  $('.footer').removeClass("show");
          //           $('.footer').css({'height': 0});
          //       }
          //   });
          // });

            $(window).scroll(function(){  
                if($(document).scrollTop() > 0)
                {    
                    if(!$('.footer').hasClass("show")){
                    $('.footer').css({'height': footerHeight+'px'});
                      $('.footer').addClass("show");
                    }
                }
            });
          });
          
          $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { 
              e.stopPropagation(); 
          });
        </script>
    {% endblock %}

</body>

</html>