<div class="feature-graphics" id="parallax-slide">

	{# <img src="{{ asset('img/hp_slideshow_1.jpg') }}" alt="Kayser"> #}

	<div id="hp-logo-feature" class="img-responsive"></div>
	<div id="hp-scrolldown"></div>
</div>