<nav class="navbar navbar-default" id="myAffix">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ path('kay_homepage') }}#home" class="navbar-brand">
        <img src="{{ asset('img/logo-icon.png') }}" alt="Maison Kayser">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav hidden-xs hidden-sm">
        <li class="dropdown">
          <a id="gnav-savoirfaire" href="{{ path('kay_savoirfaire') }}" data-target="{{ path('kay_savoirfaire') }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'savoir'|trans({}, 'Menu') }}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a id="dropnav-histoire" href="{{ path('kay_histoire') }}">{{ 'histoire'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-philosophie" href="{{ path('kay_philosophie') }}">{{ 'philosophie'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-methodes" href="{{ path('kay_methodes') }}">{{ 'methodes'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-equipes" href="{{ path('kay_equipes') }}">{{ 'equipes'|trans({}, 'Menu') }}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="gnav-produits" href="{{ path('kay_produits') }}" data-target="{{ path('kay_produits') }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'produits'|trans({}, 'Menu') }}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a id="dropnav-pains" href="{{ path('kay_produits_list', {'category': 'pains'}) }}">{{ 'pain'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-patisseries" href="{{ path('kay_produits_carte', {'slug': 'patisseries'}) }}">{{ 'patisserie'|trans(
              {}, 'Menu') }}</a></li>
            <li><a id="dropnav-sales" href="{{ path('kay_produits_carte', {'slug': 'sales'}) }}">{{ 'offres'|trans({}, 'Menu') }}</a></li>
          </ul>
        </li>
        <li><a id="gnav-trouver" href="{{ path('kay_noustrouver') }}">{{ 'trouver'|trans({}, 'Menu') }}</a></li>
        {# <li><a href="#" style="color:#CCC;">Boulangeries en ligne</a></li> #}
        <li >
          <a id="gnav-enligne" href="#" class="visible-lg" data-toggle="dropdown" style="color:#CECECE">{{ 'ligne'|trans({}, 'Menu') }}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Retrait en magasin</a></li>
            <li><a href="#">Livraison</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav visible-xs visible-sm">
        <li class="dropdown">
          <a id="gnav-savoirfaire" {# href="{{ path('kay_savoirfaire') }}" #} data-target="#menu-savoirfaire"  href="#menu-savoirfaire"  class="dropdown-toggle" data-toggle="collapse" role="button" aria-expanded="false">{{ 'savoir'|trans({}, 'Menu') }} <span class="caret"></span></a>
          <ul class="dropdown-menu collapse" role="menu" id="menu-savoirfaire">
            <li><a id="dropnav-histoire" href="{{ path('kay_histoire') }}">{{ 'histoire'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-philosophie" href="{{ path('kay_philosophie') }}">{{ 'philosophie'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-methodes" href="{{ path('kay_methodes') }}">{{ 'methodes'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-equipes" href="{{ path('kay_equipes') }}">{{ 'equipes'|trans({}, 'Menu') }}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="gnav-produits" {# href="{{ path('kay_produits') }}" #} data-target="#menu-produits" href="#menu-produits" class="dropdown-toggle" data-toggle="collapse" role="button" aria-expanded="false">Nos Produits <span class="caret"></span></a>
          <ul class="dropdown-menu collapse" role="menu" id="menu-produits">
            <li><a id="dropnav-pains" href="{{ path('kay_produits_list', {'category': 'pains'}) }}">{{ 'pain'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-patisseries" href="{{ path('kay_produits_carte', {'slug': 'patisseries'}) }}">{{ 'patisserie'|trans({}, 'Menu') }}</a></li>
            <li><a id="dropnav-sales" href="{{ path('kay_produits_carte', {'slug': 'sales'}) }}">{{ 'offres'|trans({}, 'Menu') }}</a></li>
          </ul>
        </li>
        <li>
          <a id="gnav-trouver" href="{{ path('kay_noustrouver') }}" data-target="{{ path('kay_noustrouver') }}">{{ 'trouver'|trans({}, 'Menu') }}</a>
        </li>
        <li>
          <a id="gnav-enligne" class="visible-lg" href="#" style="color:#CECECE">{{ 'ligne'|trans({}, 'Menu') }}</span></a>
       </li>
      </ul>
    </div>

    
    <div class="navbar-right hidden-xs hidden-sm">
      <ul class="nav navbar-nav navbar-social">
        <li><a href="https://twitter.com/maison_ek" target="_blank"><span class="nav-social nav-social-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/MaisonKayser" target="_blank"><span class="nav-social nav-social-facebook"></span></a></li>
        <li><a href="https://plus.google.com/102660033434943800028/about" target="_blank"><span class="nav-social nav-social-google"></span></a></li>
        <li><a href="https://www.youtube.com/user/Maisonek" target="_blank"><span class="nav-social nav-social-youtube"></span></a></li>
        <li><a href="https://www.pinterest.com/maisonkayser/" target="_blank"><span class="nav-social nav-social-pinterest"></span></a></li>
        <li><a href="http://instagram.com/maisonkayser" target="_blank"><span class="nav-social nav-social-instagram"></span></a></li>
        {# <li><a href="{{ path('kay_contact') }}"><span class="nav-social nav-social-contact"></span></a></li> #}
      </ul>
    </div>
    {# <div class="navbar-right">
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" name="search" id="nav-search" class="form-control" placeholder="Recherche">
        </div>
        <button type="submit" class="btn btn-link">Go</button>
      </form>
    </div> #}
  </div>
</nav>