<ul class="subnav hidden-sm hidden-xs">
    <li><a href="{{ path('kay_histoire') }}" id="subnav-histoire">{{ 'HISTOIRES'|trans({}, 'Menu') }}</a></li>
    <li><a href="{{ path('kay_philosophie') }}" id="subnav-philosophie">{{ 'PHILOSOPHIES'|trans({}, 'Menu') }}</a></li>
    <li><a href="{{ path('kay_methodes') }}" id="subnav-methodes">{{ 'METHODES'|trans({}, 'Menu') }}</a></li>
    <li><a href="{{ path('kay_equipes') }}" id="subnav-equipes">{{ 'EQUIPES'|trans({}, 'Menu') }}</a></li>
</ul>