	<ul class="subnav hidden-sm hidden-xs">
	    <li><a href="{{ path('kay_contact') }} " id="subnav-pains">{{ 'CONTACT'|trans({}, 'Menu') }}</a></li>
	    <li><a href="{{ path('kay_faq') }} " id="subnav-pains">FAQ</a></li>
	</ul>
