<ul class="subnav hidden-sm hidden-xs">
    <li><a href="{{ path('kay_produits_list', {'category': 'pains', 'subcategory': 'all'}) }}" id="subnav-pains">{{ 'PAIN'|trans({}, 'Menu') }}</a></li>
    <ul>
	    <li><a href="{{ path('kay_produits_list', {'category': 'pains', 'subcategory': 'levain'}) }}" id="subnav-pains-levain">{{ 'LEVAIN'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_produits_list', {'category': 'pains', 'subcategory': 'gluten'}) }}" id="subnav-pains-gluten">{{ 'GLUTEN'|trans({}, 'Menu') }}</a></li>
    </ul>
    <li><a href="{{ path('kay_produits_list', {'category': 'viennoiseries', 'subcategory': 'all'}) }}" id="subnav-viennoiseries">{{ 'BRIOCHE'|trans({}, 'Menu') }}</a></li>
    <br/>
    <li><a href="{{ path('kay_produits_carte', {'slug': 'patisseries'}) }}" id="subnav-patisseries">{{ 'PATISSERIE'|trans({}, 'Menu') }}</a></li>
    <ul>
    	<li><a href="{{ path('kay_produits_carte', {'slug': 'patisseries'}) }}" id="subnav-patisseries-classiques">{{ 'CONSULTER'|trans({}, 'Menu') }}</a></li>
    </ul>
    <li><a href="{{ path('kay_produits_carte', {'slug': 'sales'}) }}" id="subnav-sales">{{ 'SALES'|trans({}, 'Menu') }}</a></li>
    <ul>
    	<li><a href="{{ path('kay_produits_carte', {'slug': 'sales'}) }}">{{ 'CONSULTER'|trans({}, 'Menu') }}</a></li>
    </ul>
