<ul class="subnav hidden-sm hidden-xs col-md-1">
    <li><a href="{{ path('kay_annonces') }}" id="subnav-annonces">{{ 'ANNONCE'|trans({}, 'Menu') }}</a></li>
    <li><a href="{{ path('kay_candidature') }}" id="subnav-candidature">{{ 'CANDIDATURE'|trans({}, 'Menu') }}</a></li>
</ul>