<h4 class="hidden-sm hidden-xs">{# Localisez nos magasins : #}</h4>
<ul class="subnav hidden-sm hidden-xs">
    <li><a href="#" class="locator-link" id="locator-FR" data-location="48.8566140, 2.3522219" data-zoom="4">{{ 'FRANCE'|trans({}, 'Menu') }}</a></li>
    <ul>
        <li><a href="{{ path('kay_noustrouver') }}?loc=paris" class="locator-link">{{ 'PARIS'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=avignon" class="locator-link">{{ 'AVIGNON'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=beausoleil" class="locator-link">{{ 'BEAUSOLEIL'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=lyon" class="locator-link">{{ 'LYON'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=menton" class="locator-link">{{ 'MENTON'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=lille" class="locator-link">LILLE</a></li>
    </ul>
    <li><a href="#" id="locator-INTL">{{ 'INTERNATIONAL'|trans({}, 'Menu') }}</a></li>
    <ul>
        <li><a href="{{ path('kay_noustrouver') }}?loc=saudiarabia" class="locator-link">{{ 'ARABES'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=cambodia" class="locator-link">{{ 'CAMBODGE'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=chile" class="locator-link">{{ 'CHILI'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=colombia" class="locator-link">{{ 'COLOMBIE'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=southcorea" class="locator-link">{{ 'COREE'|trans({}, 'Menu') }}</a></li>
        <li><a href="#" class="locator-link gray">{{ 'EGYPT'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=emirates" class="locator-link">{{ 'ARABES2'|trans({}, 'Menu') }}</a></li>
        {# <li><a href="{{ path('kay_noustrouver') }}?loc=unitedstates" class="locator-link">{{ 'ETATS'|trans({}, 'Menu') }}</a></li> #}
        <li><a href="{{ path('kay_noustrouver') }}?loc=hongkong" class="locator-link">{{ 'HONG KONG'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=indonesia" class="locator-link">{{ 'INDONESIE'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=japan" class="locator-link">{{ 'JAPON'|trans({}, 'Menu') }}</a></li>
        <!-- <li><a href="{{ path('kay_noustrouver') }}?loc=lebanon" class="locator-link">{{ 'LIBAN'|trans({}, 'Menu') }}</a></li> -->
        <li><a href="{{ path('kay_noustrouver') }}?loc=morocco" class="locator-link">{{ 'LIBAN'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=mexico" class="locator-link">{{ 'MEXIQUE'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=unitedstates" class="locator-link">{{ 'NEW YORK'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=philippines" class="locator-link">{{ 'PHILIPPINES'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=portugal" class="locator-link">{{ 'PORTUGAL'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=rdc" class="locator-link">{{ 'REP'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=senegal" class="locator-link">{{ 'SENEGAL'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=singapore" class="locator-link">{{ 'SINGAPOUR'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=taiwan" class="locator-link">{{ 'TAIWAN'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=thailand" class="locator-link">{{ 'THAILANDE'|trans({}, 'Menu') }}</a></li>
        <li><a href="{{ path('kay_noustrouver') }}?loc=tunisia" class="locator-link">{{ 'TUNISIE'|trans({}, 'Menu') }}</a></li>
    </ul>
    <li><a id="localize" href="{{ path('kay_noustrouver') }}" class="locator-link">{{ 'POSITION'|trans({}, 'Menu') }}</a></li>
</ul>
{# <p>&nbsp;</p> #}
{# <a href="#" id="localize" class="btn btn-primary">Locate</a> #}