<ul class="subnav hidden-sm hidden-xs col-md-1">
    <li><a href="{{ path('kay_clients') }}" id="subnav-hotels">{{ 'HOTEL'|trans({}, 'Menu') }}</a></li>
    <li><a href="{{ path('kay_clients', {slug:'entreprises'}) }}" id="subnav-entreprises">{{ 'ENTREPRISE'|trans({}, 'Menu') }}</a></li>
</ul>