<header class="top-nav" style="z-index:9999;">
  <div class="container">
    <ul>
      <div id="choisir_langue">
      	<li><a href="http://localhost/kayser/web/app_dev.php/fr/">{{ 'FR'|trans({}, 'Menu') }}</a> |
      	<a href="http://localhost/kayser/web/app_dev.php/en/">{{ 'EN'|trans({}, 'Menu') }}</a> |
      	<a href="http://localhost/kayser/web/app_dev.php/es/">{{ 'ES'|trans({}, 'Menu') }}</a> |
        <a href="http://localhost/kayser/web/app_dev.php/jp/">{{ 'JP'|trans({}, 'Menu') }}</a></li>
      </div>
      <li><a href="{{ path('kay_contact') }}"><span class="icon-contact" aria-hidden="true"></span>{{ 'CONTACTER'|trans({}, 'Menu') }}</a></li>
    </ul>
  </div>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
</header>