/*@font-face {
    font-family: "Calibre";
    src: url(../fonts/Calibre-Regular.otf);
    font-weight: 100;
}
@font-face {
    font-family: "Calibre";
    src: url(../fonts/Calibre-Medium.otf);
    font-weight: 400;
}
@font-face {
    font-family: "Calibre";
    src: url(../fonts/Calibre-Semibold.otf);
    font-weight: 600;
}*/

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CalibreWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CalibreWeb-Regular.svg#svgCalibre') format('svg'); /* Legacy iOS */
    font-weight: 100;
}
@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CalibreWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CalibreWeb-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CalibreWeb-Medium.svg#svgCalibre') format('svg'); /* Legacy iOS */
    font-weight: 400;
}
@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CalibreWeb-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CalibreWeb-Semibold.svg#svgCalibre') format('svg'); /* Legacy iOS */
    font-weight: 600;
}

body {
	/*margin-top: 25px;*/
	-webkit-font-smoothing:antialiased;
}
hr {
	margin-top: 14px;
	margin-bottom: 14px;
}
.tile {
	margin: 0;
	background-color: #ffffff;
	padding-bottom: 4px;
}
.feature {
	padding-bottom: 0;
}
.feature.hero {
	padding-left: 4px;
	padding-right: 0;
}
.feature.hero > img, .tile > img {
	width: 100%;
}
#hp-scrolldown {
	position:absolute;
	bottom: 65px;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	background: url('../img/hp_scrolldown.png') no-repeat;
	cursor: pointer;
}
.tile.full {
	border: none;
	/*border: 3px solid #F7F7F7;*/
}
.tile.over {
	border: 3px solid #F7F7F7;
	cursor: pointer;
}
.tile.over:hover {
	/*background-color: #EAEAEA;*/
	border: 3px solid #FF6666;
}
.tile.full:hover {
	border: none;
}
.tile.sized {
	min-height: 530px;
}
.tile h3 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 21px;
	font-weight: 600;
}
.tile h3, .tile h4, .tile p {
	padding-left: 14px;
	padding-right: 14px;
}
.tile p {
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}
.tile.full h3, .tile.full h4, .tile.full p {
	padding-left: 14px;
	padding-right: 170px;
}
.tile.full p {
	font-size: 16px;
}
.tile h4 {
	font-size: 16px;
	margin-top: 15px;
	font-weight: 600;
}
.tile.photo {
	margin-bottom: 14px;
}
.feature p {
	font-size: 20px;
	word-wrap: break-word;
}
p.hp-feature-tile {
	margin-top: 40px;
}
a {
	color: #FF6666;
}
a:hover {
	/*text-decoration: none;*/
	/*color: #ffab51;*/
}
a.more {
	color: #999999;
	text-decoration: underline;
}
a.more:hover {
	text-decoration: underline;
	color: #FF6666;
}
a.tile-link {
	color: #999;
}
a.tile-link:hover {
	text-decoration: none;
	color: #999;
}
li > a, a.black {
	color: #999999;
	text-decoration: none;
}
li > a:hover, a.black:hover {
	color: #666666;
	text-decoration: none;
}
h4 {
	/*text-transform: uppercase;*/
}
.contact-us-p{
  font-size: 23px!important;
  max-width: 600px;
  font-weight: normal;
  padding-right: 0px!important;
}
.navbar {
	border: none;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	text-transform: uppercase;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.navbar.affix {
	z-index: 1000;
	top: 24px;
	width: 100%;
}
.affix {
	top: 120px;
/*	width: 30%;
*/}
.affix > ul.subnav{
	width: 100%;
}
.navbar-collapse{
	float: left;
}
.navbar-nav > li > a {
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	padding: 15px 45px;
}
.navbar-brand {
	padding: 10px 16px 10px 7px;
}
.navbar-brand img {
	height: 30px;
	width: 23px;
}
.navbar-form {
	margin-top: 11px;
}
.dropdown-menu {
	font-size: 16px;
	border: 1px solid #D0D0D0;
	border-top: none;
	margin:0;
}
li.dropdown > a.active, ul.nav > li > a.active, ul.dropdown-menu > li > a.active {
	color: #666666;
}
.form-control:focus {
  border-color: #666666;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-control::-webkit-input-placeholder {
	/*color: red;*/
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	color: #999999;
}
.main-container {
	margin-bottom: 60px;
}
.main-container {
	margin-top: 85px;
	/*margin-top: 137px;*/
}
.main-container.boom {
	margin-top: 137px;
	/*margin-top: 189px;*/
}
.top-nav {
	display: block;
	position: fixed;
	z-index: 1001;
	top: 0;
	width: 100%;
	height: 25px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #D0D0D0;
	padding-top: 5px;
}
.top-nav ul {
	padding-left: 0;
}
.top-nav li {
	list-style: none;
	float: right;
	text-transform: uppercase;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	/*padding-top: 1px;*/
}
.top-nav li a {
	margin-right: 50px;
}
.top-nav li:nth-child(1) a {
	margin-right: 0;
}
.top-nav span.glyphicon {
	font-size: 9px;
	vertical-align: baseline;
}
.icon-contact {
	display: block;
	height: 13px;
	width: 13px;
	background: url('../img/icon-contact.png') no-repeat;
	background-size: 100%;
	background-position: 50% 100%;
	/*background-color: red;*/
	float: left;
	margin-right: 10px;
	vertical-align: top;
}
.top-nav a:hover .icon-contact {
	background: url(../img/icon-contact-h.svg) no-repeat;
	height: 13px;
	width: 13px;
	background-size: 100%;
	background-position: 50% 100%;

}
.header-hero {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #aaa;
	height: 150px;
	text-align: center;
}
.header-hero img {
	width: 184px;
	margin-top: 25px;
}
.feature-graphics {
	display: block;
	width: 100%;
	/*height: 500px;*/
	overflow: hidden;
	/*background-image: url(../img/hp_slideshow_1.jpg);*/
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 25px;
}
.feature-graphics img {
	width: 100%;
}
#hp-logo-feature {
	position: absolute;
	top: -5px;
	left: 50%;
	width: 230px;
	height: 275px;
	margin-left: -150px;
	background: url('../img/KAY_Logo_Square.png') no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.breadcrumb {
	padding: 0;
	background-color: transparent;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 30px;
	width: 130%;
}
.breadcrumb > li + li:before {
	content: ">\00a0";
}
ul.subnav {
	padding-left: 0;
}
.subnav > li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.subnav .active {
	color: #666666;
	/*font-weight: 600;*/
}
ul.subnav ul {
	margin-bottom: 20px;
	padding-left: 16px;
	font-weight: 400;
	list-style: none;
}
ul.subnav > ul > li {
	/*content: "• ";*/
	font-size: 16px;
	position: relative;
	left: -16px;
}
ul.subnav > ul > li:before {
	content: "• ";
	padding-right: 5px;
	font-size: 10px;
}
h3.left-col-social {
	font-size: 16px;
	margin-left:10px;
}
p.left-col-social {
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.tweet-date {
	font-size: 12px;
	margin-top: -6px;
	margin-bottom: 0;
}
.footer {
	background-color: #ededed;
	border-top: 1px solid #999;
	width: 100%;
    height: 0px;
    position: fixed;
    z-index:300;
    bottom: 0;
    overflow:none;
    
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
}
.footer.show {
	height: 30px;
	padding-top: 6px;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.small-link{
	font-size: 16px;
	font-weight: bold;
}

.footer-small > li{
 	padding-bottom:1px;
 	padding-top:1px;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
}
ul.footer-nav, ul.footer-small {
	padding-left: 0;
	color:black;
}


ul.footer-nav, ul.footer-links {
	padding-left: 0;
}
div.footer-links {
	margin-top: 22px;
	height: 0;
	overflow: hidden;
	padding-left: 7px;
	padding-right: 7px;
}
.footer-nav > li {
	list-style: none;
	float: left;
	width: 20%;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.footer-links > li {
	list-style: none;
}
#close-footer {
	position: absolute;
	right: 15px;
	display: none;
	/*margin-top: -100px;*/
	font-size: 50px;
	font-weight: 100;
	line-height: 30px;
	/*margin-left: 5px;*/
}
.col-20p {
	width: 20%;
	position: relative;
	float: left;
	min-height: 1px;
	/*padding-left: 7px;
	padding-right: 7px;*/
}
.nav-social-facebook {
	background: url('../img/icon-facebook.svg') no-repeat;
}
.nav-social-twitter {
	background: url('../img/icon-twitter.svg') no-repeat;
}
.nav-social-google {
	background: url('../img/icon-google.svg') no-repeat;
}
.nav-social-youtube {
	background: url('../img/icon-youtube.svg') no-repeat;
}
.nav-social-instagram {
	background: url('../img/icon-instagram.svg') no-repeat;
}
.nav-social-pinterest {
	background: url('../img/icon-pinterest.svg') no-repeat;
}
.nav-social-contact {
	background: url('../img/icon-social-contact.svg') no-repeat;
}
.nav-social-facebook:hover {
	background: url('../img/icon-facebook-h.svg') no-repeat;
}
.nav-social-twitter:hover {
	background: url('../img/icon-twitter-h.svg') no-repeat;
}
.nav-social-google:hover {
	background: url('../img/icon-google-h.svg') no-repeat;
}
.nav-social-youtube:hover {
	background: url('../img/icon-youtube-h.svg') no-repeat;
}
.nav-social-instagram:hover {
	background: url('../img/icon-instagram-h.svg') no-repeat;
}
.nav-social-pinterest:hover {
	background: url('../img/icon-pinterest-h.svg') no-repeat;
}
.nav-social-contact:hover {
	background: url('../img/icon-social-contact-h.svg') no-repeat;
}
.nav-social {
	display: block;
	height: 25px;
	width: 25px;
	background-size: 100%;
}
.nav-social:hover {
	background-size: 100%;
}
.navbar-social > li > a {
	padding: 12px 5px;
}
.row.menu-tab {
	float: left;
	width: 33%;
}
.row  > h4.menu-title{
	margin-bottom: 2px;
}
.row.menu-tab > h4.menu-title, .row.menu-tab > div > h4.menu-title{
	padding-right: 30px !important;
	margin-left: 10px;
	margin-bottom: 2px;
}

p.menu-detail{
	padding-right: 30px !important;
	margin-right: 30px !important;
	margin-left: 10px;
}
.row.menu-tab:nth-child(3n+1) {
	clear: both;
}
.row.menu-tab h5 {
	font-size: 15px;
	padding-left: 24px;
	margin-bottom: 2px;
	margin-top: 20px;
	font-weight: 700;
}
div.menu-section {
	clear: both;
	margin-top: 30px;	
}
.photo-title {
	float: left;
}
.photo-title.two-lines {
	width: 100%;
	padding-right: 0px;
}
h4.photo-title {
	width: 95%;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
	padding-left: 10px;
}
h4.photo-title > span {
	font-size: 10px;
}
.photo-more {
	float: right;
	padding-top: 2px;
	font-size: 30px;
	padding-right: 7px;
}
.photo-more a {
	text-decoration: none;
}
.photo-more-content {
	display: none;
	clear: both;
}
.video-play {
	float: right;
	border: 1px solid #ff6666;
	padding: 5px 4px 7px 7px;
	border-radius: 20px;
	background-color: white;
	margin-top: 9px;
	margin-right: 7px;
	font-size: 10px;
	line-height: 0;
}
.video-play:hover {
	border: 1px solid #666666;
	color: #666666;
}
a:focus {
	outline: none;
}
.modal-content {
	border-radius: 0;
	border: none;
	box-shadow: none;
	background-color: #fafafa;
}
.modal-header .close {
	border: 1px solid #999;
	padding: 13px 7px 14px 7px;
	border-radius: 20px;
	background-color: white;
	margin-right: -58px;
	font-size: 26px;
	line-height: 0;
	font-weight: 100;
	opacity: 1;
	color: #999;
}
.modal-header {
	min-height: 0;
	padding: 0;
	border: none;
}
.modal-body {
	padding: 0;
	padding-bottom: 15px;
}
.modal-body h4, .modal-body p {
	padding-left: 15px;
	padding-right: 15px;
}
.label-gluten {
	padding: .3em .4em .1em;
	padding-top: 0px;
	font-size: 8px;
	font-weight: normal; 
	border: 1px solid #999;
	letter-spacing: 0;
	color: #999;
	vertical-align: middle;
}
.sans-gluten {
	display: inline-block;
	width: 42px;
	height: 10px;
}
span.plus, span.moins {
	color: #999;
	font-size: 24px;
}
span.plus:hover, span.moins:hover {
	color: #FF6666;
}
.header-hero, .feature-graphics {
	display: none;
}
label {
	font-weight: normal;
	padding-left: 6px;
	padding-right: 16px;
}
.history-col {
	padding: 0;
}
.history-col > img {
	width: 100%;
}
.col-history-row > .col-history-content > .global-offer > p, .col-history-row > .col-history-content > .global-offer >  h4 {
	width: auto;
	padding: 0;
	padding-right: 30px;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	letter-spacing: 0.02em;
	/*line-height: 1.5em;*/
	padding-bottom: 20px;
}
.col-history-row > .col-history-content > .global-offer-others > p, .col-history-row > .col-history-content > .global-offer-others >  h4 {
	width: auto;
	padding: 0;
	padding-right: 30px;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	letter-spacing: 0.02em;
	/*line-height: 1.5em;*/
	padding-bottom: 10px;
}
.col-history-row > .col-history-content > h4 {
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 10px;
}
.col-history-row > .col-history-content > p.cite {
	padding-left: 120px;
	padding-right: 150px;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 30px;
	width: 100%;
	margin: 0;
	padding-bottom: 40px;
}
.col-history-row > .col-history-content > h3 {
	padding-left: 18px;
	padding-top: 10px;
	font-size: 30px;
	letter-spacing: 0.02em;
	margin-left: 0;
}
.col-history-row > .col-history-content > p.intro {
	padding-left: 18px;
	font-size: 28px;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.02em;
	padding-right: 0;
	width: 75%;
	margin-left: 0;
	margin-bottom: 30px;
}
.col-history-row > .col-history-content > p.border {
	border-bottom: 1px solid #808080;
	margin-right: 30px;
	padding-bottom: 0;
	line-height: 0;
	margin-bottom: 30px;
}
.col-history-row > .col-history-content > p.history-social {
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.history-pictures > img {
	width: 50%;
	float: left;
	margin-bottom: 35px;
}
.col-history-row > .col-history-content > p.border-video {
	border-bottom: 1px solid #808080;
	margin-right: 30px;
	padding-bottom: 0;
	line-height: 0;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.col-history-row > .col-history-content >  .global-offer > p.offers-title {
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-right: 30px;
	line-height: 1;
	padding-top: 20px;
	margin-top: 20px;
	font-weight: 500;
}
.global-offer ~ .global-offer{
	border-top: 1px solid #808080;
}
.col-history-row > .col-history-content > .global-offer > p.offers-content {
	padding-bottom: 0;
	/*margin: 0;*/
}
.col-history-row > .col-history-content > .global-offer-others > p.offers-title-others {
	  margin-bottom: -7px;
	  margin-right: 30px;
	  line-height: 1;
	  margin-top: 10px;
	  font-weight: 500;
}
.global-offer, .global-offer-others{
	margin-left: 25%
}
.global-offer:hover, .global-offer-others:hover{
	color: #FF6666;
}
 a.offer {
	text-decoration: none;
	color: inherit;
}
.global-offer-others {
	border-bottom: 1px solid #808080;
}
.offers-details{
	margin-left: 25%;
	margin-top: 10px;
	margin-bottom: 75px;
	font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	letter-spacing: 0.02em;
}
.offers-details > p, .offers-details > h4{
	font-size: 20px!important;
	padding: 0px!important;
}
.col-history-row > .col-history-content > .global-offer-others:first-of-type{
 	border-top:1px solid #808080;
}
.col-history-row > .col-history-content > .global-offer-others > p.offers-date-others {
	margin-right: 30px;
	line-height: 1;
	font-size: 16px
}
.col-history-row > .col-history-content > .global-offer-others > p.offers-overview-others {
	padding-bottom: 0;
}
.history-pictures-one > img {
	width: 100%;
	float: left;
	margin-bottom: 35px;
}
.row > .history-caption > p {
	border-top: 1px solid #808080;
	margin-left: 20px;
	padding: 0;
	font-size: 14px;
	padding-top: 10px;
}
.product-video {
	margin-left: 25%;
}
.tile.full p.video-text {
	padding: 0;
	font-size: 15px;
}
.video-box {
	margin-bottom: 20px;
}
.video-box > .col-sm-6:nth-child(odd) >.content-video {
	padding: 10px;
	/*padding-left: 40px;*/
	text-align: right;
}
.video-box > .col-sm-6:nth-child(even) >.content-video {
	padding: 10px;
	padding-right: 40px;
}
.menu-section{
/*	padding-left: 0;
	margin-left: 0;
*/	clear: both;
	background: url('../img/curves.png') repeat-x;
	background-position: center ;
	background-size: 60px;
	margin-bottom: 20px;
	margin-left: 18px;
	margin-right: 18px;
}
.menu-section > p{
	background-color: #FFFFFF;
	font-size: 13px !important;
	max-width: 28%;
	margin: 0 auto;
	padding: 0 !important; 
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
}
.navbar.navbar-default > .container {
	width: 100%;
	max-width: 1454px;
}
.h-feed {
font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 100;
font-size: 14px;
letter-spacing: 0.09em;
/* line-height: 1.42857143; */
color: #999;
background-color: #f7f7f7;
}
a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #dedede; !important
}

@media (min-width: 1600px) {
  .container {
    width: 1454px;
  }
  .navbar-nav > li > a {
    /*padding: 12px 35px;*/
    padding: 16px 50px 14px;
  }
  .dropdown-menu {
  	left: 15px;
  }
  .dropdown-menu > li > a {
  	padding: 0px 35px;
  	line-height: 1.3;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;    
  }
  .navbar-social > li > a {
  	padding: 12px 5px;
  }
  .tile h3, .tile h4, .tile p {
  	padding-right: 32px;
  }
  #hp-logo-feature {
 		/*left: 47%;*/
 		width: 315px;
 		height: 401px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
	.container {
		width: 1304px;
	}
	#hp-logo-feature {
		top: 5px;
		left: 52%;
		width: 270px;
	}
	.navbar-nav, .dropdown-menu {
		left: 30px;
	}

	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
	.navbar-nav {
		left: 30px;
	}
	.navbar-nav > li > a {
	 	padding: 15px 15px; 
	}
	.navbar-social > li > a {
		padding: 12px 5px;
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}
	.form-control::-webkit-input-placeholder {
		font-size: 13px;
	}
	.form-control {
		font-size: 13px;
	}
	p {
		font-size: 13px;
	}
	.tile h3 {
		font-size: 20px;
	}
	.feature p {
		font-size: 14px;
	}
	h3.left-col-social {
		font-size: 16px;
	}
	.subnav > li {
		font-size: 14px;
	}
	.col-history-row > .col-history-content > h3 {
		font-size: 26px;
	}
	.col-history-row > .col-history-content > p.intro, .col-history-row > .col-history-content > p.cite {
		font-size: 22px;
	}
	.col-history-row > .col-history-content > p, .col-history-row > .col-history-content > h4 {
		font-size: 17px;
	}
	.col-history-row > .col-history-content  > .global-offer > p, .col-history-row > .col-history-content  > .global-offer > h4 {
		font-size: 17px;
	}
	.row > .history-caption > p {
		font-size: 12px;
	}
	.col-history-row > .col-history-content > p.history-social {
		font-size: 13px;
	}

	#hp-logo-feature {
		top: -10px;
		left: 53%;
		width: 250px;
	}
}

.product-list{
	width: 100%;
}

@media screen and (max-width: 600px){
	.product-list{
		width: 365px;
	}
	.menu-tab{
		width: auto!important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 13px; 
		letter-spacing: 0.06em;
	}
	.navbar-nav {
		font-size: 90%;
	}
	.dropdown-menu {
		font-size: 95%;
	}
	#hp-logo-feature {
		background-size: 80%;
		margin-left: -120px;
	}

	.navbar-nav, .dropdown-menu {
		left: 30px;
	}

	.navbar-form .form-control {
		/*width: 65%;*/
		font-size: 90%;
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}
	.tile h3, .tile h4, .tile p {
		padding-left: 10px;
		padding-right: 10px;
	}
	.tile h3 {
		font-size: 24px;
	}
	.tile h4 {
		font-size: 14px;
		margin-top: 14px;
	}
	.feature p {
		font-size: 13px;
	}
	.photo-title.two-lines {
		margin-top: 6px;
	}
	.label-gluten {
		padding: .3em .3em 0;
		font-size: 80%;
	}
	.col-md-9 {
		min-height: 100%;
	}
	#hp-logo-feature {
		top: 40px;
		/*left: 51%;*/
		width: 305px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header-hero {
		position: fixed;
		display: block;
		z-index: 1000;
		height: 60px;
	}
	.header-hero img {
		width: 130px;
		margin: auto;
		margin-top: 12px;
	}
	#hp-logo-feature {
		background-size: 80%;
		margin-left: -120px;
	}
	.navbar-nav, .dropdown-menu {
		left: 30px;
	}


	div.mobile-nav {
		display: none;
		position: fixed;
		padding: 0;
		margin-left: -10px;
		margin-top: 13px;
		width: 100%;
	}
	div.mobile-nav > ul {
		list-style: none;
		padding: 0;
	}
	.mobile-nav li {
		width: 100%;
		background-color: white;
		border-bottom: 1px solid #999;
		text-transform: uppercase;
		text-align: left;
		padding: 6px 0 0 30px;
	}
	.feature-graphics .carousel {
		margin-top: 60px;
	}
	#hp-scrolldown {
		display: none;
	}
	.main-container {
		padding-top: 100px;
	}
	#mobile-menu {
		position: absolute;
		height: 40px;
		width: 40px;
		top: 16px;
		left: 10px;
		font-size: 20px;
	}
	.footer-sm-nav {
/*		padding: 6px 0;
		width: 100%;
		float: left;*/
	}
	.footer-sm-nav > li {
		list-style: none;
/*		font-size: 16px;
		line-height: 1.6;*/
	}
	.footer-sm-social {
		position: relative;
		float: right;
		width: 100%;
		margin-top: 0px;
	}
	.footer-sm-social > ul {
		list-style: none;
	}
	.footer-sm-social > ul > li {
		float: right;
		margin-left: 6px;
		margin-top: 0px;
	}
	.nav-social {
		width: 40px;
		height: 40px;
	}

	#hp-logo-feature {
		top: -5px;
		width: 345px;
	}
	.footer .footer-links .col-20p {
		width: 33%;
		float: left;
		padding-bottom: 15px;
	}
	.footer .footer-links .col-20p:nth-child(3n+1) {
		clear: left;
	}
	.footer .footer-links .col-20p:first-child {
		float: left;
	}
}
@media (max-width: 767px) {
	.header-hero {
		position: fixed;
		display: block;
		z-index: 1000;
		height: 60px;
	}
	.header-hero img {
		width: 130px;
		margin: auto;
		margin-top: 12px;
	}
	#hp-logo-feature {
		background-size: 65%;
		margin-left: -90px;
	}

	div.mobile-nav {
		display: none;
		position: fixed;
		padding: 0;
		margin-left: -10px;
		margin-top: 13px;
		width: 100%;
	}
	div.mobile-nav > ul {
		list-style: none;
		padding: 0;
	}
	.mobile-nav li {
		width: 100%;
		background-color: white;
		border-bottom: 1px solid #999;
		text-transform: uppercase;
		text-align: left;
		padding: 6px 0 0 30px;
	}
	.feature-graphics .carousel {
		margin-top: 60px;
	}
	#hp-scrolldown {
		display: none;
	}
	.main-container {
		padding-top: 65px;
	}
	.main-container.boom {
		margin-top: 85px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 100%;
	}
	.navbar-nav > li > a {
		width: 100%;
	}
	.dropdown-menu {
		float: none;
		position: initial;
		padding-left: 60px;
		border: none;
	}
	.dropdown-menu > li > a {
		line-height: 2;
	}
	.more {
		content: "+";
		position: relative;
		top: -30px;
		left: 350px;
		width: 20%;
		height: 10px;
	}

	.footer-sm-social {
		position: relative;
		float: right;
		width: 100%;
		margin-top: 0px;
	}
	.footer-sm-social > ul {
		list-style: none;
	}
	.footer-sm-social > ul > li {
		float: right;
		margin-left: 6px;
	}
	.nav-social {
		width: 40px;
		height: 40px;
	}
	#hp-logo-feature {
		top: 25px;
		left: 53%;
		width: 260px
	}
	.footer .footer-links .col-20p {
		width: 50%;
		float: left;
		padding-bottom: 15px;
	}
	.footer .footer-links .col-20p:nth-child(2n+1) {
		clear: left;
	}
	.footer .footer-links .col-20p:nth-child(2n) {
		padding-left: 15px;
	}
	.footer .footer-links .col-20p:first-child {
		float: left;
	}
	.col-history-row > .col-history-content > p.intro {
		padding-left: 30px;
		font-size: 20px;
		font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing: 0.02em;
		padding-right: 0;
		width: 90%;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.col-history-row > .col-history-content > p, .col-history-row > .col-history-content > h4 {
		margin-left: 10%;
		width: auto;
		padding: 0;
		padding-right: 30px;
		font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 20px;
		letter-spacing: 0.02em;
		padding-bottom: 10px;
	}
	.col-history-row > .col-history-content > p.cite {
		padding-left: 30px;
		font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-size: 22px;
		width: 100%;
		margin: 0;
		padding-bottom: 40px;
		padding-right: 30px;
	}
	.product-video {
		margin-left: 8%;
	}
	.top-nav li a {
		margin-right: 15px;
	}
	.top-nav ul {
		padding-left: 0;
		width: 95%;
	}
}
.btn-candidate{
	color: inherit;
	text-decoration: none;
}
.btn-candidate:hover, .btn-candidate:focus{
	text-decoration: none;
}
@media (max-width: 360px) {
	.top-nav li {
		font-size: 10px;
	}
	.footer .footer-links .col-20p {
		width: 50%;
		float: left;
		padding-bottom: 8px;
		font-size: 12px;
	}
	.tile.full h3, .tile.full h4, .tile.full p {
	padding-left: 14px;
	padding-right: 40px;
	}
}