.storelocator-panel {
  overflow: auto;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 10px 30px 15px;
  width: 33%;
  float: left;
  list-style: none;
}
@media screen and (max-width: 500px){
  .storelocator-panel .store-list li,
  .storelocator-panel .directions-panel {
    width: auto!important;
  }
}
.storelocator-panel .store-list .store:nth-child(3n + 1) {
  clear: both;
}
.storelocator-panel .directions-panel {
  font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  /*background: #eee;*/
  color: #FF6666;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  /*background: #ffab51;*/
  color: #FF6666;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 5px;
  text-align: center;
}

.storelocator-panel .location-search input {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 4px 15px 0px;
}

.storelocator-panel .location-search h4 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.storelocator-panel .location-search input:focus {
  border: 1px solid #FFAB51;
  outline: none;
}
.storelocator-panel .store-list .no-stores {
  color: grey;
  clear: both;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
  margin: auto;
  width: 700px;
  margin-bottom: 20px;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-weight: 600;
  /*color: #666;*/
  font-size: 16px;
  text-transform: uppercase;
}

.store .address,
.store .phone,
.store .web,
.store .website,
.store .misc {
  font-size: 16px;
  /*margin-bottom: 0.5em;*/
  display: block;
  font-weight: 100;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  text-decoration: none;
  color: grey;
}
.store .web a:hover {
  cursor: pointer;
  color: #FF6666;
  text-decoration: underline;
}

.store .website a {
  color: green
}

.store .action {
  font-size: 0.8em;
  color: green;
  margin-right: 0.5em;
}

form.storelocator-filter {
  background-color: #ededed;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  border-top: 1px solid #999;
}

.gray {
  color: #CECECE;
}
.gray:hover {
  color: #CECECE;
}