<footer>
  <div class="footer show">
    <div class="container">
      <ul class="footer-nav hidden-sm hidden-xs">
        <li><a href="#">{{ 'rejoindre'|trans({}, 'PiedDePage') }}</a></li>
        <li><a href="#">{{ 'contacter'|trans({}, 'PiedDePage') }}</a></li>
        <li><a href="#">{{ 'presse'|trans({}, 'PiedDePage') }}</a></li>
        <li><a href="#">{{ 'client'|trans({}, 'PiedDePage') }}</a></li>
        <li><a href="#">{{ 'information'|trans({}, 'PiedDePage') }}</a></li>
      </ul>

      <div class="small-link">
        <ul class="footer-sm-nav visible-sm visible-xs">
          <li><a style="cursor:pointer">Liens rapides</a></li>
          <br/>
        </ul>
      </div>

      <div class="visible-sm visible-xs">
          <ul class="footer-small">
            <li><a href="{{ path('kay_candidature') }}">{{ 'candidature'|trans({}, 'PiedDePage') }}</a></li>
            <li><a href="{{ path('kay_annonces') }}">{{ 'annonce'|trans({}, 'PiedDePage') }}</a></li>
            <li><a href="{{ path('kay_contact') }}"> {{ 'information'|trans({}, 'PiedDePage') }} </a></li>
            <li><a href="{{ path('kay_faq') }}"> {{ 'faq'|trans({}, 'PiedDePage') }} </a></li>
            <li><a href="{{ path('kay_clients') }}" id="subnav-pains"> {{ 'hotel'|trans({}, 'PiedDePage') }} </a></li>
            <li><a href="{{ path('kay_clients', {slug:'entreprises'}) }} " id="subnav-pains"> {{ 'entreprise'|trans({}, 'PiedDePage') }} </a></li>
          </ul>
      </div>

      <div class="row footer-links">
        <div class="col-20p">
          <ul class="footer-links hidden-sm hidden-xs">
            <li><a href="{{ path('kay_candidature') }}">{{ 'candidature'|trans({}, 'PiedDePage') }}</a></li>
            <li><a href="{{ path('kay_annonces') }}">{{ 'annonce'|trans({}, 'PiedDePage') }}</a></li>
          </ul>
        </div>
        <div class="col-20p">
          <ul class="footer-links hidden-sm hidden-xs">
            <li><a href="{{ path('kay_contact') }}"> {{ 'information'|trans({}, 'PiedDePage') }} </a></li>
            <li><a href="{{ path('kay_faq') }}"> {{ 'faq'|trans({}, 'PiedDePage') }} </a></li>
          </ul>
        </div>
        <div class="col-20p hidden-sm hidden-xs">
          <div class="col-md-10" style="padding-left:0;"> 
              {{ 'texte_presse'|trans({}, 'PiedDePage')|raw }}
          </div>
        </div>
        <div class="col-20p">
          <ul class="footer-links hidden-sm hidden-xs">
              <li><a href="{{ path('kay_clients') }}" id="subnav-pains"> {{ 'hotel'|trans({}, 'PiedDePage') }} </a></li>
              <li><a href="{{ path('kay_clients', {slug:'entreprises'}) }} " id="subnav-pains"> {{ 'entreprise'|trans({}, 'PiedDePage') }} </a></li>
          </ul>
        </div>
        <div class="col-20p hidden-sm hidden-xs">
          <div class="col-md-10" style="padding-left:0;">{{ 'adresse'|trans({}, 'PiedDePage')|raw }}
          <a href="{{ path('kay_credits') }}" > {{ 'adresse_suivante'|trans({}, 'PiedDePage') }} </a>
          </div>
        </div>
      </div>
      <div class="footer-sm-social visible-sm visible-xs">
        <ul>
          <li><a href="https://www.facebook.com/MaisonKayser"><span class="nav-social nav-social-facebook"></span></a></li>
          <li><a href="https://twitter.com/maison_ek"><span class="nav-social nav-social-twitter"></span></a></li>
          <li><a href="https://plus.google.com/102660033434943800028/about"><span class="nav-social nav-social-google"></span></a></li>
          <li><a href="https://www.pinterest.com/maisonkayser/"><span class="nav-social nav-social-pinterest"></span></a></li>
          <li><a href="http://instagram.com/maisonkayser"><span class="nav-social nav-social-instagram"></span></a></li>
        </ul>
      </div>
    </div>
    <div id="close-footer-block">
      <a id="close-footer" href="#" class="black"><span>&times;</span></a>
    </div>
  </div>
</footer>