{# src/Kayser/PlatformBundle/Resources/views/Default/annonces.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Espace annonce
{% endblock %}


{% block platform_body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_annonces') }}">{{ 'REJOINDRE'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_annonces') }}">{{ 'ANNONCE'|trans({}, 'Menu') }}</a></li>
              </ol>
              {% include 'KayserPlatformBundle:Header:subnav-annonces.html.twig' %}
          </div>
      </div>
      <div class="col-md-9">
        <div class="row full tile" id="row_full_title" style="margin-bottom:74px;">
            <div class="row col-history-row">
                <div class="col-sm-10 col-history-content">
                    <h3 >{{ titleOne.body }}</h3>
                    <br/>
                    {% if show is defined %}
                    <div class="offers-details">
                        <h4>{{show.getTitle() | upper}}</h4>
                        <p>
                            <bold>{{show.getOverview()}}</bold>
                        </p>
                        <p>
                            {{show.getContent() | raw}}
                            <br>
                        </p><br/>
                        <p class="offers-date-others">  {{ show.getCreationdate() | date("m-d-Y") }}</p>
                        <a href="{{ path('kay_candidature')}}" class="btn-candidate"><button class="btn btn-primary">{{ titleTree.body }}</button></a>
                    </div>
                    <h4 style="margin-left:25%;padding:0"> </h4>
                    {% for annonce in annonces %}
                        {% if annonce.getId() != show.getId() %}
                        <article class="global-offer-others">
                            <p class="offers-title-others"><a href="{{ path('kay_annonces', {slug:annonce.getSlug()} ) }}" class="offer">{{annonce.getTitle() | upper}}</a></p>
                            <p class="offers-overview-others">
                                <a href="{{ path('kay_annonces', {slug:annonce.getSlug()} ) }}" class="offer">
                                    {{annonce.getOverview()}}
                                </a>
                            </p><br/>
                            <p class="offers-date-others">{{ titleTwo.body }} {{ annonce.getCreationdate() | date("m-d-Y") }}</p>
                        </article>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        {% for annonce in annonces %}
                        <article class="global-offer">
                            <p class="offers-title"><a href="{{ path('kay_annonces', {slug:annonce.getSlug()} ) }}" class="offer">{{annonce.getTitle() | upper }}</a></p>
                            <p class="offers-content">
                                <a href="{{ path('kay_annonces', {slug:annonce.getSlug()} ) }}" class="offer">
                                    {{annonce.getOverview()}}
                                </a>
                            </p>                                    
                            <p style="font-size:16px; padding:0;">{{ titleTwo.body }}{{ annonce.getCreationdate() | date("m-d-Y") }}</p>
                        </article>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#subnav-annonces').addClass('active');
        if ($(window).height() >= 900 ){
            $('#row_full_title').height($('#row_full_title').height() + 243);
        }

    })

</script>

{% endblock %}