{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                    <ol class="breadcrumb">
                      <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                      <li><a href="{{ path('kay_annonces') }}">{{ 'REJOINDRE'|trans({}, 'Menu') }}</a></li>
                      <li><a href="{{ path('kay_candidature') }}">{{ 'CANDIDATURE'|trans({}, 'Menu') }}</a></li>
                    </ol>
                    {% include 'KayserPlatformBundle:Header:subnav-annonces.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row tile full" style="margin-bottom:14px;" id="row_full_title">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('info') %}
                            <div class="alert alert-success" style="margin-top:10px;">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <h3>{{ tableCandidature[1].body }}</h3>
                    <p class="contact-us-p">{{ tableCandidature[2].body }}</p>
                    <div class="col-history-row">
                        <div class="col-md-7 col-md-offset-2 row col-history-content">
                            <div class="row" style="margin:0;">
                                {{ form_start(form)  }}
                                {{ form_errors(form) }}
                                    {% if language == 'fr' %}
                                        <div class="form-group">
                                            {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Télephone'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                {{ form_widget(form.cp, { 'attr': {'class': 'form-control', 'placeholder': 'Code postal'} }) }}
                                            </div>
                                            <div class="form-group col-md-7">
                                                {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Votre C.V :
                                            {{ form_widget(form.cv, { 'attr': {'class': 'form-control'} }) }}
                                            <div style="color:red">Format accepté (.pdf .docx) avec comme titre : Nom prenom cv</div>
                                        </div>
                                            Votre lettre de motivation :
                                        <div class="form-group">
                                            {{ form_widget(form.lettre, { 'attr': {'class': 'form-control'} }) }}
                                            <div style="color:red">Format accepté (.pdf .docx) avec comme titre : Nom prenom lettre</div>
                                        <br />
                                            Poste recherché :
                                        <div class="form-group">
                                            {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Titre du poste'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6, 'placeholder': 'Veuillez taper un message...'} }) }}
                                        </div>
        <!-- PARTIE EN ANGLAIS --> {% elseif language == 'en' %} <!-- PARTIE EN ANGLAIS -->
                                        <div class="form-group">
                                            {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Name'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Tel'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Address'} }) }}
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                {{ form_widget(form.cp, { 'attr': {'class': 'form-control', 'placeholder': 'Zip Code'} }) }}
                                            </div>
                                            <div class="form-group col-md-7">
                                                {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': 'City'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Your C.V:
                                            {{ form_widget(form.cv, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> Accepted format (.docx .pdf) with the title : Name firstName cv </div>
                                        </div>
                                            Your cover letter:
                                        <div class="form-group">
                                            {{ form_widget(form.lettre, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> Accepted format (.docx .pdf) with the title : Name firstName lettrer </div>
                                        </div>
                                            Job wanted:
                                        <div class="form-group">
                                            {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Title of job'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6, 'placeholder': 'Type your message...'} }) }}
                                        </div>
        <!-- PARTIE EN ESPAGNOL --> {% elseif language == 'es' %} <!-- PARTIE EN ESPAGNOL -->
                                        <div class="form-group">
                                            {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Apellido'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Teléfono'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Dirección'} }) }}
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                {{ form_widget(form.cp, { 'attr': {'class': 'form-control', 'placeholder': 'Código Postal'} }) }}
                                            </div>
                                            <div class="form-group col-md-7">
                                                {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': 'City'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Tu C.V:
                                            {{ form_widget(form.cv, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> Format aceptado (.docx .pdf) con el tìtulo : Nombre apellido cv </div>
                                        </div>
                                            Su carta de presentación:
                                        <div class="form-group">
                                            {{ form_widget(form.lettre, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> Format aceptado (.docx .pdf) con el tìtulo : Nombre apellido carta </div>
                                        </div>
                                            Trabajo buscó:
                                        <div class="form-group">
                                            {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Título del puesto'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6, 'placeholder': 'Escribe tu mensaje aquí...'} }) }}
                                        </div>
        <!-- PARTIE EN JAPONAIS --> {% elseif language == 'jp' %} <!-- PARTIE EN JAPONAIS -->
                                        <div class="form-group">
                                            {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': '苗字'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'ファーストネーム'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': '電話'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': '電子メール'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'アドレス'} }) }}
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-5">
                                                {{ form_widget(form.cp, { 'attr': {'class': 'form-control', 'placeholder': '郵便番号'} }) }}
                                            </div>
                                            <div class="form-group col-md-7">
                                                {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': '街'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            あなたの履歴書:
                                            {{ form_widget(form.cv, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> タイトル (.docx .pdf) タイトル : 名_ファーストネーム_あなたの履歴書 </div>
                                        </div>
                                            あなたのカバーレター:
                                        <div class="form-group">
                                            {{ form_widget(form.lettre, { 'attr': {'class': 'form-control'} }) }}
                                            <div style = "color: red"> タイトル (.docx .pdf) タイトル : 名_ファーストネーム_あなたのカバーレター </div>
                                        <br />
                                            位置が求められる:
                                        <div class="form-group">
                                            {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'ポジションタイトル'} }) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6, 'placeholder': 'メッセージを入力してください。...'} }) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-12" style="padding-left:14px;padding-right:14px;margin-bottom:14px;">
                                    <p><small><em>{{tableCandidature[3].body}}</em></small></p>
                                    <input type="submit" value={{ 'ENVOYER'|trans({}, 'Menu') }} class="btn btn-primary">
                                    {{ form_end(form) }}
                                </div>
                                <div class="col-sm-12" style="padding-left:14px;padding-right:14px;margin-bottom:14px;">
                                    <p><small>{{ tableCandidature[4].body }}</small>
                                        <br/>
                                        <small><a href="mailto:recrutement@maison-kayser.com">{{ tableCandidature[5].body }}</a></small>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#subnav-candidature').addClass('active');
        if ($(window).height() >= 900 ){
            $('#row_full_title').height($('#row_full_title').height() + 243);
        }
    })

    </script>

{% endblock %}