{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix" class="affix">
                    <ol class="breadcrumb">
                      <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                      <li><a href="{{ path('kay_contact') }}">CONTACT</a></li>
                    </ol>
                    {% include 'KayserPlatformBundle:Header:subnav-contact.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row tile full" style="margin-bottom:14px;" id="row_full_title">
                    <div class="col-sm-12">
                        {% for flashMessage in app.session.flashbag.get('info') %}
                            <div class="alert alert-success" style="margin-top:10px;">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <h3>{{ tableContact[1].title }}</h3>
                   <p class="contact-us-p"> {{tableContact[2].body|raw}} </p>
                        <p>&nbsp;</p>
                    <div class="col-md-7 col-md-offset-2">
                        <div class="row" style="margin:0;">
                            {{ form_start(form)  }}
                            {{ form_errors(form) }}
                                {% if language == 'fr' %}
                                    <div class="form-group">
                                         {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Objet'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6} }) }}
                                    </div>
    <!-- PARTIE ANGLAIS --> {% elseif language == 'en' %} <!-- PARTIE ANGLAIS -->
                                    <div class="form-group">
                                         {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Name'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Object'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6} }) }}
                                    </div>
   <!-- PARTIE ESPAGNOL --> {% elseif language == 'es' %} <!-- PARTIE ESPAGNOL -->
                                    <div class="form-group">
                                         {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Apellido'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Título'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6} }) }}
                                    </div>
   <!-- PARTIE JAPONAIS --> {% elseif language == 'jp' %} <!-- PARTIE JAPONAIS -->
                                    <div class="form-group">
                                         {{ form_widget(form.gender, { 'attr': {'class': 'form-radio'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': '苗字'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'ファーストネーム'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': '電子メール'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'オブジェクト'} }) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6} }) }}
                                    </div>
                                {% endif %}    
                            </div>
                            <div class="col-sm-12" style="padding-left:14px;padding-right:14px;margin-bottom:14px;">
                                <p><small><em>{{tableContact[3].body|raw}}</em></small></p>
                                <input type="submit" value={{ 'ENVOYER'|trans({}, 'Menu') }} class="btn btn-primary">
                                {{ form_end(form) }}
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-contact').addClass('active');
        $(document).ready(function(){
          $('input[type=radio]').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red'
          });

          if ($(window).height() >= 900 ){
              $('#row_full_title').height($('#row_full_title').height() + 243);
          }
        });
    })

    </script>

{% endblock %}