

{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_savoirfaire') }}">{{ 'SAVOIR'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_equipes') }}">{{ 'METHODES'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:submenu.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:74px;">
                    <div class="col-sm-12 history-col">
                        <img src="{{ asset('img/kayser-equipe1.png') }}" alt="Des membres de l'équipe Kayser">
                    </div>

                    <div class="row col-history-row">
                        <div class="col-sm-12 col-history-content">
                            <h3> {{ tableEquipes[1].title }} </h3>
                            <p class="intro"></p>
                                <p> {{ tableEquipes[1].body|raw }} </p>
                                <h4> {{ tableEquipes[2].title }} </h4>
                                <p> {{ tableEquipes[2].body|raw }} </p>
                                <p> {{ tableEquipes[3].body|raw }} </p>
                                <p> {{ tableEquipes[4].body|raw }} </p>
                                <h4> {{ tableEquipes[5].title }} </h4>
                                <p> {{ tableEquipes[5].body|raw }} </p>
                            <p class="border"></p>
                                {{ tableEquipes[6].body|raw }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_histoire') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfFeature.image.webPath | imagine_filter('kay_bloc') }}" alt="Monsieur Eric Kayser">
                            <div class="col-sm-12">
                                <h4>{{ sfFeature.title|upper }}</h4>
                                <p>{{ sfFeature.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_philosophie') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfUn.image.webPath | imagine_filter('kay_bloc') }}" alt="Du bon pain de qualité !">
                            <div class="col-sm-12">
                                <h4>{{ sfUn.title|upper }}</h4>
                                <p>{{ sfUn.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_methodes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfDeux.image.webPath | imagine_filter('kay_bloc') }}" alt="Kayser, nos méthodes">
                            <div class="col-sm-12">
                                <h4>{{ sfDeux.title|upper }}</h4>
                                <p>{{ sfDeux.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire, #dropnav-equipes, #subnav-equipes').addClass('active');
    })
    </script>
{% endblock %}