{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Information légales
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="#">{{ 'HOME'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_faq') }}">{{ 'CONTACT'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:subnav-contact.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:74px;">
                    <div class="row col-history-row">
                        <h3>{{ tableFaq[1].title }}</h3>
                            <div class="col-md-10 col-md-offset-2">
                                <div class="row" style="margin:0;text-align:justify">                      
                                    {% for i in 2..11 %}
                                        <h4> {{ tableFaq[i].title }} </h4>
                                        <p> {{ tableFaq[i].body|raw }} </p>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
    })
    </script>
{% endblock %}