{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_savoirfaire') }}">{{ 'SAVOIR'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_histoire') }}">{{ 'HISTOIRES'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:submenu.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:74px;">
                    <div class="col-sm-9 history-col">
                        <img src="{{ asset('img/histoire1-kayser.png') }}" alt="Monsieur Eric Kayser">
                    </div>
                    <div class="col-sm-3 history-col">
                        <img src="{{ asset('img/histoire2-kayser.jpg') }}" alt="Du bon pain !">
                        <img src="{{ asset('img/histoire3-kayser.jpg') }}" alt="Les chouquettes de Kayser, c'est chouette !">
                    </div>

                    <div class="row col-history-row">
                        <div class="col-sm-12 col-history-content">
                            <h3> {{ tableHistoire[1].title|capitalize }} </h3>
                            <p class="intro"> {{ tableHistoire[1].body|raw }} </p>
                            <h4> {{ tableHistoire[2].title|raw }} </h4>
                            <p> {{ tableHistoire[2].body|raw }} </p>
                            <p> {{ tableHistoire[3].body|raw }} </p>
                            <p class="cite"> {{ tableHistoire[4].body }} </p>
                            <p> {{ tableHistoire[5].body|raw }} </p>
                            <h4> {{ tableHistoire[6].title|raw }} </h4>
                            <p> {{ tableHistoire[6].body|raw }} </p>
                            <p> {{ tableHistoire[7].body|raw }} </p>
                            <div class="row">
                                <div class="col-sm-3 history-caption" id="fermentolevain">
                                    <p> {{ tableHistoire[8].body|raw }} </p>                       
                                </div>
                                <div class="col-sm-1 history-caption">
                                </div>
                                <div class="col-sm-21 history-pictures">
                                    <img src="{{ asset('img/kayser-histoire3.png') }}" alt="Machine fermentolevain">
                                </div>
                            </div>
                                    <p> {{ tableHistoire[9].body|raw }} </p>
                                    <p> {{ tableHistoire[10].body|raw }} </p>
                                    <h4> {{ tableHistoire[11].title|raw }} </h4>
                                    <p> {{ tableHistoire[11].body|raw }} </p>
                                    <p> {{ tableHistoire[12].body|raw }} </p>
                                    <p> {{ tableHistoire[13].body|raw }} </p>
                                    <p> {{ tableHistoire[14].body|raw }} </p> 
                            <p class="border">&nbsp;</p>
                         {{ tableHistoire[15].body|raw }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_philosophie') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfUn.image.webPath | imagine_filter('kay_bloc') }}" alt="{{ sfUn.title }}">
                            <div class="col-sm-12">
                                <h4>{{ sfUn.title|upper }}</h4>
                                <p>{{ sfUn.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_methodes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfDeux.image.webPath | imagine_filter('kay_bloc') }}" alt="{{ sfDeux.title }}">
                            <div class="col-sm-12">
                                <h4>{{ sfDeux.title|upper }}</h4>
                                <p>{{ sfDeux.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_equipes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfTrois.image.webPath | imagine_filter('kay_bloc') }}" alt="{{ sfTrois.title }}">
                            <div class="col-sm-12">
                                <h4>{{ sfTrois.title|upper }}</h4>
                                <p>{{ sfTrois.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
    .tile h3, .tile h4, .tile p{
        padding-right: initial;
    }
    </style>    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire, #dropnav-histoire, #subnav-histoire').addClass('active');
    })
    </script>
{% endblock %}