{# src/Kayser/PlatformBundle/Resources/views/Default/annonces.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Espace annonce
{% endblock %}


{% block platform_body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_clients') }}">{{ 'CLIENTS'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_clients') }}">{{ 'ENTREPRISE'|trans({}, 'Menu') }}</a></li>
              </ol>
              {% include 'KayserPlatformBundle:Header:subnav-clients.html.twig' %}
          </div>
      </div>
      <div class="col-md-9">
        <div class="row full tile" style="margin-bottom:74px;">
            <div class="row col-history-row" style="margin-bottom: 14px; height: 926px;">
                <h3>{{ tableHotel[4].title }}</h3> 
                <div class="col-md-10 col-md-offset-2">
                    <div class="row" style="margin:0">
                       {% for i in 1..3 %}
                          <h4> {{ tableHotel[i].title }} </h4>
                          <p> {{ tableHotel[i].body|raw }} </p>
                       {% endfor %}                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#subnav-hotels').addClass('active');
    })

</script>

{% endblock %}
