{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

{% block platform_body %}
    <div id="home"></div>
    <div class="container main-container" { style="padding-top:30px;" }>
        <div class="row">
            <h3 class="left-col-social">{{ 'actualite'|trans({}, 'Menu') }}</h3>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <a class="twitter-timeline" href="https://twitter.com/Maison_EK" data-widget-id="607890028161867776">Tweets de @Maison_EK</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    </script>
                </div>
            
             <div class="col-md-9 first-column-sm"> 
                <a href="{{ path('kay_noustrouver') }}" class="tile-link"><div class="row feature tile over" style="margin-bottom:14px;">
                    <div class="col-sm-4">
                        <h3>{{ blocFeatureHome.title|upper }}</h3>
                        {{ blocFeatureHome.body|raw }}
                    </div>
                    <div class="col-sm-8 feature hero">
                        <img src="{{ blocFeatureHome.image.webPath | imagine_filter('kay_featured_bloc') }}" alt="Vitrine de présentation Kayser">
                    </div>
                </div></a>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_produits') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ blocHomeOne.image.webPath | imagine_filter('kay_bloc') }}" alt="Patisserie Kayser - Nos patisseries">
                            <div class="col-sm-12">
                                <h4>{{ blocHomeOne.title|upper }}</h4>
                                <p>{{ blocHomeOne.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_savoirfaire') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ blocHomeTwo.image.webPath | imagine_filter('kay_bloc') }}" alt="Pain Kayser - Notre savoir-faire">
                            <div class="col-sm-12">
                                <h4>{{ blocHomeTwo.title|upper }}</h4>
                                <p>{{ blocHomeTwo.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_homepage') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ blocHomeThree.image.webPath | imagine_filter('kay_bloc') }}" alt="Monsieur Kayser - Boutique en Ligne">
                            <div class="col-sm-12">
                                <h4>{{ blocHomeThree.title|upper }}</h4>
                                <p>{{ blocHomeThree.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
            //Feature Graphics height
            var ftheight = $(window).height() - 77;
            // var ftheight = $(window).height() - 227;
            $('.feature-graphics').height(ftheight);

        // Header
        $('.header-hero, .feature-graphics').show();
        // Affix
        var affixvar = $(window).height() - 74;
        $('#myAffix').affix({
          offset: {
            top: affixvar,
          }
        })

        // Carousel
        $('.carousel').carousel({
          interval: 1500
        })

        // Scroll down
        var fenetre = $(window).height() - 74;
        $('#hp-scrolldown').on('click', function() {
            $(window).scrollTo( { top:fenetre, left:0}, 800 );
        });

    })
    $(document).ready(function(){
        // Parallax
        var pos = 0.3; // Pour le site en live les url doivent être : /img/md_hp_slideshow_3.jpg sous ce format donc => enelver /kayser/web/
        if ($(window).width() < 768 ) {
            var items = ["/kayser/web/img/xs_hp_slideshow_2.jpg","/kayser/web/img/xs_hp_slideshow_3.jpg"];
        }else if ($(window).width() < 992 ) {
            var items = ["/kayser/web/img/sm_hp_slideshow_1.jpg","/kayser/web/img/sm_hp_slideshow_2.jpg","/kayser/web/img/sm_hp_slideshow_3.jpg"];
        }else if ($(window).width() < 1199 ) {
            var items = ["/kayser/web/img/md_hp_slideshow_1.jpg","/kayser/web/img/md_hp_slideshow_2.jpg","/kayser/web/img/md_hp_slideshow_3.jpg"];
            var pos = 0.7;
        }else {
            var items = ["/kayser/web/img/hp_slideshow_1.jpg","/kayser/web/img/hp_slideshow_2.jpg","/kayser/web/img/hp_slideshow_3.jpg"];
        }
        var item = items[Math.floor(Math.random()*items.length)];
        $('#parallax-slide').css("backgroundImage", "url("+item+")");

        if ($(window).width() > 768 )
        {
            $('#parallax-slide').css("background-size","cover");
        }
        else
        {
            $('#parallax-slide').css("background-size","450px 552px");

            if (item == "/kayser/web/img/xs_hp_slideshow_1.jpg")
            {
                $('#parallax-slide').css("background-size","655px 490px");
            }
        }
        $('#parallax-slide').parallax("50%", pos);
    })
    </script>

{% endblock %}

