{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Information légales
{% endblock %}


{% block platform_body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_credits') }}">{{ 'INFORMATION'|trans({}, 'Menu') }}</a></li>
              </ol>
              {#% include 'KayserPlatformBundle:Header:submenu.html.twig' %#}
          </div>
      </div>
      <div class="col-md-9">
        <div class="row full tile" style="margin-bottom:74px;">
            <div class="row col-history-row" style="margin-bottom: 14px; height: 926px;">
                <h3>{{ tableInfo[1].title }}</h3>
                <div class="col-md-10 col-md-offset-2">
                    <div class="row" style="margin:0;text-align:justify">   
                        <p>
                            <h4 style="margin-bottom:5px">{{ tableInfo[2].title|raw }}</h4>
                            <p>{{ tableInfo[2].body|raw }}
                            </p>
                            <br/>
                            <p>{{ tableInfo[3].body|raw }}</p>
                            <br/>
                            <p>{{ tableInfo[4].body|raw }}</p>
                            <br/>
                            <h4 style="margin-bottom:5px">{{ tableInfo[5].title|raw }}</h4>
                            <p>{{ tableInfo[5].body|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire, #dropnav-histoire, #subnav-histoire').addClass('active');
        if ($(window).height() >= 900 ){
            $('#row_full_title').height($('#row_full_title').height() + 243);
        }else{
            $('#row_full_title').height($('#row_full_title').height() + 125);
        }

    })
</script>
{% endblock %}