{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Savoir-Faire
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">  
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
 
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <button type="submit">login</button>
        </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire').addClass('active');
    })
    </script>
{% endblock %}