{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_savoirfaire') }}">{{ 'SAVOIR'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_methodes') }}">{{ 'METHODES'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:submenu.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:74px;">
                    <div class="col-sm-12 history-col">
                        <img src="{{ asset('img/kayser-methode-feature.png') }}" alt="Fabrication du pain - Nos méthodes">
                    </div>

                    <div class="row col-history-row">
                        <div class="col-sm-12 col-history-content">
                            <h3> {{ tableMethodes[1].title|capitalize }} </h3>
                            <p class="intro"> {{ tableMethodes[1].body|raw }} </p>
                            <h4> {{ tableMethodes[2].title|raw}} </h4>
                            <p> {{ tableMethodes[2].body|raw}} </p>
                            <p> {{ tableMethodes[3].body|raw}} </p>
                            <p> {{ tableMethodes[4].body|raw}} </p>
                            <p> {{ tableMethodes[5].body|raw}} </p>
                            <h4> {{ tableMethodes[6].title|raw}} </h4>
                            <p> {{ tableMethodes[6].body|raw}} </p>
                            <h4> {{ tableMethodes[7].title|raw}} </h4>
                            <p> {{ tableMethodes[7].body|raw }} </p>
                            <h4> {{ tableMethodes[8].title|raw }} </h4>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                        <p class="video-text"> {{ tableMethodes[8].body|raw}} </p>
                                    </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[8].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border-video">&nbsp;</p>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                    <p class="video-text"> {{ tableMethodes[9].body|raw}} </p>
                                </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[9].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border-video">&nbsp;</p>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                    <p class="video-text"> {{ tableMethodes[10].body|raw}} </p>                   
                                </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[10].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border-video">&nbsp;</p>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                    <p class="video-text"> {{ tableMethodes[11].body|raw}} </p>
                                </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[11].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border">&nbsp;</p>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                    <p class="video-text"> {{ tableMethodes[12].body|raw}} </p>
                                </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[12].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border">&nbsp;</p>
                            <div class="row product-video">
                                <div class="col-sm-7">
                                    <p class="video-text"> {{ tableMethodes[13].body|raw}} </p>
                                </div>
                                <div class="col-sm-5">
                                    <iframe width="200" height="112" src="{{ tableMethodes[13].url|raw}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="border">&nbsp;</p>
                            {{ tableMethodes[14].body|raw }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_histoire') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfFeature.image.webPath | imagine_filter('kay_bloc') }}" alt="Monsieur Kayser - Notre histoire">
                            <div class="col-sm-12">
                                <h4>{{ sfFeature.title|upper }}</h4>
                                <p>{{ sfFeature.body|raw }}</p>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_philosophie') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfUn.image.webPath | imagine_filter('kay_bloc') }}" alt="Du bon pain ! - Philosophie">
                            <div class="col-sm-12">
                                <h4>{{ sfUn.title|upper }}</h4>
                                <p>{{ sfUn.body|raw }}</p>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_equipes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfTrois.image.webPath | imagine_filter('kay_bloc') }}" alt="Nos compagnons - Nos équipes">
                            <div class="col-sm-12">
                                <h4>{{ sfTrois.title|upper }}</h4>
                                <p>{{ sfTrois.body|raw }}</p>
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire, #dropnav-methodes, #subnav-methodes').addClass('active');
    })
    </script>
{% endblock %}