{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            {# {{ dump(category) }} #}
            {# {{ dump(subcategory) }} #}
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_produits') }}">{{ 'PRODUITS'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:subnav-products.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                            <div class="col-sm-4">
                    {% for product in products %}
                        {% if not (loop.index - 1) % 3 %}
                                <div class="row tile photo over product">
                                    <img src="{{ asset(product.image.webPath)}}" alt="{{ product.name }}">
                                    <div class="col-sm-12">
                                        <h4 class="photo-title {% if product.name|length > 20 %}two-lines{% endif %}">{{ product.name }}{% if product.subcategory.name == 'gluten' %} <span class="label label-gluten">SANS GLUTEN</span>{% endif %} </h4>
                                        {# <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span> #}
                                        <div class="photo-more-content">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                            </div>
                    <div class="col-sm-4">
                        {% for product in products %}
                            {% if not (loop.index - 2) % 3 %}
                                <div class="row tile photo over product">
                                    <img src="{{ asset(product.image.webPath)}}" alt="{{ product.name }}">
                                    <div class="col-sm-12">
                                        <h4 class="photo-title {% if product.name|length > 20 %}two-lines{% endif %}">{{ product.name }}{% if product.subcategory.name == 'gluten' %} <span class="label label-gluten">SANS GLUTEN</span>{% endif %} </h4>
                                        {# <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span> #}
                                        <div class="photo-more-content">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                            <div class="col-sm-4">
                    {% for product in products %}
                        {% if not loop.index % 3 %}
                                <div class="row tile photo over product">
                                    <img src="{{ asset(product.image.webPath)}}" alt="{{ product.name }}">
                                    <div class="col-sm-12">
                                        <h4 class="photo-title {% if product.name|length > 20 %}two-lines{% endif %}">{{ product.name }}{% if product.subcategory.name == 'gluten' %} <span class="label label-gluten">SANS GLUTEN</span>{% endif %} </h4>
                                        {# <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span> #}
                                        <div class="photo-more-content">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100 } });
        // Active
        $('#gnav-produits, #subnav-{{ category }}, #subnav-{{ category }}-{{ subcategory }}, #dropnav-{{ category }}').addClass('active');
        // Picture tiles
        $('.tile.product').on('click', function(e){
            e.preventDefault();
            $(this).find('.photo-more-content').slideToggle(400);
            // $(this).parent().next().slideToggle(400);
            // $(this).find('.plus').toggle();
            // $(this).find('.moins').toggle();
        });
    })
    </script>
{% endblock %}