{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}

{% block headerhero %}
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'KayserPlatformBundle:Header:subnav-products.html.twig' %}
            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <span class="photo-more"><a href="#"><span class="plus">+</span><span class="moins" style="display:none;">-</span></a></span>
                                <div class="photo-more-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias ipsam id vitae dolorum a, voluptatibus fugit quaerat inventore dignissimos fugiat quidem totam minima magni neque maxime ipsum similique consequatur, quae laborum corporis eveniet.</p>
                                    <p><a href="#">COMMANDER</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100 } });
        // Active
        $('#gnav-produits, #subnav-pains, #subnav-pains-levain').addClass('active');
        // Picture tiles
        $('.photo-more a').on('click', function(e){
            e.preventDefault();
            $(this).parent().next().slideToggle(400);
            $(this).find('.plus').toggle();
            $(this).find('.moins').toggle();
        });
    })
    </script>
{% endblock %}