{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_savoirfaire') }}">{{ 'SAVOIR'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_philosophie') }}">{{ 'PHILOSOPHIES'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:submenu.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:74px;">
                    {# <div class="col-sm-12 history-col">
                        <img src="{{ asset('img/phi1.jpg') }}" alt="Nos pains">
                    </div> #}
                    <div class="col-sm-12 history-col">
                        <img src="{{ asset('img/philo-feature.png') }}" alt="Fabrication de pain">
                    </div>
                    <div class="row col-history-row">
                        <div class="col-sm-12 col-history-content">
                            <h3> {{ tablePhilo[1].title|raw }} </h3>
                            <p class="intro"> {{ tablePhilo[1].body|raw }} </p>
                            <h4>  {{ tablePhilo[2].title|raw }} </h4>
                            <p> {{ tablePhilo[2].body|raw }} </p>
                            <p class="cite"> {{ tablePhilo[3].body|raw }} </p>
                            <p> {{ tablePhilo[4].body|raw }} </p>
                            <h4>  {{ tablePhilo[5].title|raw }} </h4>
                            <p> {{ tablePhilo[5].body|raw }} </p>
                            <p> {{ tablePhilo[6].body|raw }} </p>
                            <br />
                            <div class="row">
                                <div class="col-sm-3 history-caption">
                                    <p> {{ tablePhilo[7].body|raw }} </p>
                                </div>
                                <div class="col-sm-9 history-pictures-one">
                                    <img src="{{ asset('img/kayser-philo4.png') }}" alt="Fabrication de pain">
                                </div>
                            </div>
                            <p> {{ tablePhilo[8].body|raw }} </p>
                            <p> {{ tablePhilo[9].body |raw}} </p>
                            <p class="border">&nbsp;</p>
                            {{ tablePhilo[10].body|raw }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_histoire') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfFeature.image.webPath | imagine_filter('kay_bloc') }}" alt="Monsieur Kayser - Notre histoire">
                            <div class="col-sm-12">
                                <h4>{{ sfFeature.title|upper }}</h4>
                                <p>{{ sfFeature.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_methodes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfDeux.image.webPath | imagine_filter('kay_bloc') }}" alt="Etagère - Nos méthodes">
                            <div class="col-sm-12">
                                <h4>{{ sfDeux.title|upper }}</h4>
                                <p>{{ sfDeux.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_equipes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfTrois.image.webPath | imagine_filter('kay_bloc') }}" alt="Nos compagnons - Notre équipe">
                            <div class="col-sm-12">
                                <h4>{{ sfTrois.title|upper }}</h4>
                                <p>{{ sfTrois.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire, #dropnav-philosophie, #subnav-philosophie').addClass('active');
    })
    </script>
{% endblock %}