{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}


{% block platform_body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-3">
            <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_produits') }}">{{ 'PRODUITS'|trans({}, 'Menu') }}</a></li>
                  <li><a href="{{ path('kay_produits_carte', {'slug': 'sales'}) }}">{{ 'SALES'|trans({}, 'Menu') }}</a></li>
              </ol>
              {% include 'KayserPlatformBundle:Header:subnav-products.html.twig' %}
          </div>
      </div>
      <div class="col-md-9">
        <div class="row full tile" style="margin-bottom:74px;">
            <div class="row col-history-row">
                <div class="col-sm-12 col-history-content">
                    <h3> {{ productSale[0].title|raw }} </h3>
                    <p class="intro"> {{ productSale[0].body|raw }} </p>
                  {% for i in 1..catSales %}
                    <div class="menu-section"><p style="max-width: 230px"> {{ productSale[i].title|raw }} </p></div>
                    <section> 
                    {% for keys, product in productSale %}
                      {% if product.category == i %}
                        {% if product.position != 0 %}
                          {% if not (product.position - 1) % 3 %}
                        <div class="row menu-tab"> 
                              <div class="product-list">
                                <h4 class="menu-title">{{ product.title }}</h4>
                                <p class="menu-detail">{{ product.body|raw }}</p>
                              </div>      
                        </div>
                          {% endif %}
                          {% if not (product.position - 2) % 3 %} 
                        <div class="row menu-tab"> 
                              <div class="product-list">
                                <h4 class="menu-title">{{ product.title }}</h4>
                                <p class="menu-detail">{{ product.body|raw }}</p>
                              </div>
                        </div> 
                          {% endif %}
                          {% if not (product.position - 3) % 3 %} 
                        <div class="row menu-tab"> 
                              <div class="product-list">
                                <h4 class="menu-title">{{ product.title }}</h4>
                                <p class="menu-detail">{{ product.body|raw }}</p>
                              </div>
                        </div>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    </section>
                  {% endfor %}         
          <br style="clear:both;"/>
</div>
</div>
</div> {#% if product.category == 1 %#}
</div>
</div>
</div>
<style type="text/css">
.label-gluten{
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 2px;
}
</style>    
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#subnav-sales').addClass('active');
    })
</script>
{% endblock %}


