{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Savoir-Faire
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                <ol class="breadcrumb">
                  <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                  <li><a href="{{ path('kay_savoirfaire') }}">{{ 'SAVOIR'|trans({}, 'Menu') }}</a></li>
                </ol>
                {% include 'KayserPlatformBundle:Header:submenu.html.twig' %}
                </div>
            </div>
            <div class="col-md-9">
                <a href="{{ path('kay_histoire') }}" class="tile-link"><div class="row feature tile over" style="margin-bottom:14px;">
                    <div class="col-sm-4">
                        <h3>{{ sfFeature.title|upper }}</h3>
                        <p>{{ sfFeature.body|raw }}</p>
                        {# <p>EN SAVOIR PLUS</p> #}
                    </div>
                    <div class="col-sm-8 feature hero">
                        <img src="{{ sfFeature.image.webPath | imagine_filter('kay_featured_bloc') }}" alt="Monsieur Kayser - Notre histoire">
                    </div>
                </div></a>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ path('kay_philosophie') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfUn.image.webPath | imagine_filter('kay_bloc') }}" alt="Nos pains - Notre philosophie - Kayser">
                            <div class="col-sm-12">
                                <h4>{{ sfUn.title|upper }}</h4>
                                <p>{{ sfUn.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_methodes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfDeux.image.webPath | imagine_filter('kay_bloc') }}" alt="Nos méthodes - Kayser">
                            <div class="col-sm-12">
                                <h4>{{ sfDeux.title|upper }}</h4>
                                <p>{{ sfDeux.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ path('kay_equipes') }}" class="tile-link"><div class="row tile over sized">
                            <img src="{{ sfTrois.image.webPath | imagine_filter('kay_bloc') }}" alt="Nos équipes - Nos compagnons - Kayser">
                            <div class="col-sm-12">
                                <h4>{{ sfTrois.title|upper }}</h4>
                                <p>{{ sfTrois.body|raw }}</p>
                                {# <p>EN SAVOIR PLUS</p> #}
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });
        // Active
        $('#gnav-savoirfaire').addClass('active');
    })
    </script>
{% endblock %}