{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Où nous trouver
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="{{ asset('js/store-locator.min.js') }}"></script>
<script src="{{ asset('js/medicare-dynamic-ds.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/panel.js') }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ asset('css/storelocator.css') }}">

<style>
  #map-canvas { height: 500px; }
  #panel { width: 100%; }
  #panel .feature-filter label { width: 230px; margin: 0; text-align: center; font-weight: normal; font-size: 14px; }
  #panel .feature-filter input { margin: 4px 4px 0; }
  p.attribution, p.attribution a { color: #666; }
</style>
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <div data-spy="affix">
                    <ol class="breadcrumb">
                      <li><a href="{{ path('kay_homepage') }}">HOME</a></li>
                      <li><a href="{{ path('kay_noustrouver') }}">{{ 'TROUVER'|trans({}, 'Menu') }}</a></li>
                    </ol>
                    {% include 'KayserPlatformBundle:Header:subnav-locator.html.twig' %}
                </div>             
            </div>
            <div class="col-md-9">
                <div class="row full tile" style="margin-bottom:14px;">
                    <div id="map-canvas"></div>
                    <div id="panel"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100, } });

        // Active
        $('#gnav-trouver').addClass('active');

        // Par pays
        // $('.locator-link').on('click', function(e) {
        //     location.reload();
        // });


        // List fix
        $(window).load(function() {
            $('li.store').each(function () {
                var div = $(this).find('.phone');
                val = div.val();
                div.val('<u>Télephone</u>'+val);
            });
        });


    })
    </script>
{% endblock %}