{# src/Kayser/PlatformBundle/Resources/views/Default/index.html.twig #}
{% extends "KayserPlatformBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - Notre Histoire
{% endblock %}

{% block headerhero %}
{% endblock %}

{% block platform_body %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'KayserPlatformBundle:Header:subnav-products.html.twig' %}
            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 1" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 2" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 3" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 4" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 5" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="row tile photo">
                            <img src="{{ asset('img/placeholder_photo.png') }}" alt="placeholder">
                            <div class="col-md-12">
                                <h4 class="photo-title">LOREM IPSUM</h4>
                                <a href="#" class="video-play" data-toggle="modal" data-target="#myModal" data-kvideo="//www.youtube.com/embed/qyMDSRxRcKI" data-ktitle="Title 6" data-kcaption="Et vide is atrem ia re consiln essendit. Untiaec retimmod re tatqua num peris huidemu ssedii cla actus, sim et factum inam in sensuli faucit. Romnervi ssoltor ibuncut emquonc factod dicum senemo es firtidem."><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          </div>
                          <div class="modal-body">
                            <iframe width="600" height="400" src="http//www.youtube.com/embed/qyMDSRxRcKI" frameborder="0" allowfullscreen></iframe>
                            <h4></h4>
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div> {# End Modal #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    jQuery(function($) {
        // Affix
        $('#myAffix').affix({ offset: { top: -100 } });
        // Active
        $('#gnav-produits, #subnav-patisseries, #subnav-videos').addClass('active');
        $('#myModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var videourl = button.data('kvideo')
          var videotitle = button.data('ktitle')
          var videocaption = button.data('kcaption')
          var modal = $(this)
          modal.find('.modal-body iframe').attr("src", videourl)
          modal.find('.modal-body h4').text(videotitle)
          modal.find('.modal-body p').text(videocaption)
          // modal.find('.modal-title').text('New message to ' + recipient)
          // modal.find('.modal-body input').val(recipient)
        })
    })
    </script>
{% endblock %}